<!DOCTYPE html>
<html>

<head>

</head>

<body>

<form action='save_list_object' method="post" target="_self">
    {% csrf_token %}

    <input name="content" type="text"><br>

    <input type="submit" value="Send"><br>

</form>

{% for object in list_objects %}
    {% if object.archived == False %}
        <div>
            {{ object.post_date }}
            {{ object.content }}
            <button href="{% url 'delete_list_object' object.id %}" type="button">Eliminar</button>
            <button href="{% url 'archive_list_object' object.id %}" type="button">Archivar</button>
        </div>
    {% endif %}
{% endfor %}

</body>

</html>