<!DOCTYPE html>
<html>

<head>

</head>

<body>

<form action='save_list_object' method="post" target="_self">
    {% csrf_token %}

    <input name="content" type="text"><br>

    <input type="submit" value="Send"><br>

</form>

{% for object in list_objects %}
    {% if object.archived == False %}
        <div>
            {{ object.post_date }}
            {{ object.content }}
            <form action='archive_list_object/' method="post" target="_self">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ object.id }}">
                <input type="submit" value="Archive">
            </form>
            <form action='delete_list_object/' method="post" target="_self">
                {% csrf_token %}
                <input type="hidden" name="id" value={{ object.id }}>
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endif %}
{% endfor %}

</body>

</html>